.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF9800; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
/*
font-family: 'Ubuntu', sans-serif;
font-family: 'Sarabun', sans-serif;
font-family: 'Megrim', cursive;
*/

body{
    font-family: 'Ubuntu', sans-serif;
    color: #BDBDBD;
    margin: 0;
    padding: 0;
}

a{
  color: #bdbdbd;
}

nav{
    background-color: #757575;
    height: 70px;
}


/* scrollBAR */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}




.grid{
    display: grid;
    /* grid-template-columns: 15% 60% 25%; */
    /* grid-template-columns: minmax(200px,1fr) minmax(400px,4fr) minmax(300px,2fr); */
    grid-template-columns: 206px auto 350px;
    grid-template-rows: 100vh;
}
 .left-menu{
    background-color: #212121;
    padding-left: 15px;
    padding-right: 15px;
}

.right-menu{
    width:316px;
    background-color: #212121;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.right-item{
    margin: 10px;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    background-color: #757575;
    width: 90%;
    position: relative;
    height: 40px;

}
.right-item label{
    font-size: 10px;
    text-transform: uppercase;
    padding: 0 8px;
    position: absolute;
    top: 4px;
}
.right-item select
{
  background-color: #757575;
  border:0px;
  font-size: 13px;
  width: 100%;
  margin-top: 18px; /*preguntar aquí cómo hacerle más fino para justificarlo abajo*/
  padding-left: 10px;
  /* vertical-align: bottom; */
}





.fatherModules{
  padding: 20px 10px;
  background-color: #757575;
  /* height: 20px; */
  border: solid 1px #212121;
}


.fatherModules>a{
  text-decoration: none;
}

.fatherModules>label:after{
    content: " \25b6";
    font-size: 12px;
}

.dropdown,
.dropdownHero,
.dropdownText,
.dropdownImage,
.dropdownExtra,
.dropdownFooter,
.dropdownWidget
{
  display: none;
  flex-flow: wrap;
  margin: 19px 0 0 0;
}


#headerInput,
#heroInput,
#textInput,
#imageInput,
#extraInput,
#footerInput,
#widgetInput,
#headModules
{
  display: none;
}

.fatherModules label{

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */

}

/* .fatherModules>label:after{
    content: " <";
} */

.fatherModules input[type=radio]:checked ~ .dropdown{
  display: flex;

}

.fatherModules input[type=radio]:checked ~ label:after{

  content: " \25bc" ;
}


.fatherModules input[type=radio]:checked ~ .dropdownHero{
  display: flex;

}
.fatherModules input[type=radio]:checked ~ .dropdownText{
  display: flex;
}
.fatherModules input[type=radio]:checked ~ .dropdownImage{
  display: flex;
}
.fatherModules input[type=radio]:checked ~ .dropdownExtra{
  display: flex;
}
.fatherModules input[type=radio]:checked ~ .dropdownFooter{
  display: flex;
}
.fatherModules input[type=radio]:checked ~ .dropdownWidget{
  display: flex;
}

.moduleItem a{
  /* display: flex; */
}

.moduleItem a img{
  width:90px;
  /* flex-wrap: wrap; */
}

.moduleItem{
  height: 90px;
  width: 90px;
  /* height: auto;
  width:32%; */
  flex-wrap: wrap;
  border: solid 1px #757575;
}


.design{
   background-color: #BDBDBD;
}

.toCanvas{
    background-color: #FFFFFF;
    margin: 0 auto;
    height: 100vh;
    width: 620px;
    box-shadow: 1px 1px 15px grey;
}

.position{
    margin: 20px 20px;
    border: 2px solid ;
    border-radius: 10px;
    height:110px;
}
h6{
    margin-top: 5px;
    text-align: center;
}
.boton{
    text-align: center;
}
