.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF9800; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
/*
font-family: 'Ubuntu', sans-serif;
font-family: 'Sarabun', sans-serif;
font-family: 'Megrim', cursive;
*/

body{
    font-family: 'Ubuntu', sans-serif;
    color: #BDBDBD;
}

.grid{
    display: grid;
    grid-template-columns: 15% 65% 20%;
    grid-template-rows: 95vh;
}
 .left-menu{
    background-color: #212121;
    padding-left: 15px;
    padding-right: 15px;
}

.right-menu{
    background-color: #212121;
    padding-left: 15px;
    padding-right: 15px;
}

.design{
   background-color: #BDBDBD;
}

.canvas{
    border: 2px solid #303F9F;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 50px 80px;
    height: 85vh;
} 

.position{
    margin: 30px 20px;
    border: 2px solid #BDBDBD;
    border-radius: 10px;
    height:110px;
}
h6{
    margin-top: 5px;
    text-align: center;
}
.boton{
    text-align: center;
}